<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartDAO">
	
	<select id="getMember" parameterType="cartMember" resultType="cartMember">
		SELECT * 
		FROM MEMBER
		WHERE MEMBER_NUM = #{memberNum}
	</select>
	
	<update id="getAddress" parameterType="cartMember">
		UPDATE MEMBER
		SET ADDRESS = #{address},
			ADDRESS_DETAIL = #{addressDetail}
		WHERE MEMBER_NUM = #{memberNum}
	</update>
	
	<!-- 회원 장바구니 -->
	<select id="getCartList" parameterType="cartMember" resultType="cart">
		SELECT C.PRODUCT_NUM PRODUCT_NUM, P.STORAGE_NUM STORAGE_NUM, CT.CATEGORY_NUM CATEGORY_NUM, P.THUM_SYS_FILENAME THUM_SYS_FILENAME, P.PRODUCT_NAME PRODUCT_NAME, 
				C.COUNT COUNT, P.PRICE PRICE, P.SALEPRICE SALEPRICE, P.STOCK STOCK
		FROM CART C, PRODUCT P, CATEGORY CT, DIVISION D
		WHERE C.PRODUCT_NUM = P.PRODUCT_NUM
		AND P.DIVISION_NUM = D.DIVISION_NUM
		AND D.CATEGORY_NUM = CT.CATEGORY_NUM
		AND C.MEMBER_NUM = #{memberNum}
	</select>
	
	<select id="getCartCount" parameterType="cartMember" resultType="int">
		SELECT COUNT(*) COUNT
		FROM CART C, PRODUCT P
		WHERE C.PRODUCT_NUM = P.PRODUCT_NUM
		AND NOT P.PRODUCT_DEL = 'Y'
		AND NOT P.STOCK = 0
		AND C.MEMBER_NUM = #{memberNum}
	</select>
	
	<select id="getCartList1" parameterType="cartMember" resultType="cart">
		SELECT C.PRODUCT_NUM PRODUCT_NUM, P.STORAGE_NUM STORAGE_NUM, CT.CATEGORY_NUM CATEGORY_NUM, P.THUM_SYS_FILENAME THUM_SYS_FILENAME, P.PRODUCT_NAME PRODUCT_NAME, 
				C.COUNT COUNT, P.PRICE PRICE, P.SALEPRICE SALEPRICE, P.STOCK STOCK
		FROM CART C, PRODUCT P, CATEGORY CT, DIVISION D
		WHERE C.PRODUCT_NUM = P.PRODUCT_NUM
		AND P.DIVISION_NUM = D.DIVISION_NUM
		AND D.CATEGORY_NUM = CT.CATEGORY_NUM
		AND NOT P.PRODUCT_DEL = 'Y'
		AND NOT P.STOCK = 0
		AND P.STORAGE_NUM = 1
		AND C.MEMBER_NUM = #{memberNum}
	</select>
	
	<select id="getCartList2" parameterType="cartMember" resultType="cart">
		SELECT C.PRODUCT_NUM PRODUCT_NUM, P.STORAGE_NUM STORAGE_NUM, CT.CATEGORY_NUM CATEGORY_NUM, P.THUM_SYS_FILENAME THUM_SYS_FILENAME, P.PRODUCT_NAME PRODUCT_NAME, 
				C.COUNT COUNT, P.PRICE PRICE, P.SALEPRICE SALEPRICE, P.STOCK STOCK
		FROM CART C, PRODUCT P, CATEGORY CT, DIVISION D
		WHERE C.PRODUCT_NUM = P.PRODUCT_NUM
		AND P.DIVISION_NUM = D.DIVISION_NUM
		AND D.CATEGORY_NUM = CT.CATEGORY_NUM
		AND NOT P.PRODUCT_DEL = 'Y'
		AND NOT P.STOCK = 0
		AND P.STORAGE_NUM = 2
		AND C.MEMBER_NUM = #{memberNum}
	</select>	
	
	<select id="getCartList3" parameterType="cartMember" resultType="cart">
		SELECT C.PRODUCT_NUM PRODUCT_NUM, P.STORAGE_NUM STORAGE_NUM, CT.CATEGORY_NUM CATEGORY_NUM, P.THUM_SYS_FILENAME THUM_SYS_FILENAME, P.PRODUCT_NAME PRODUCT_NAME, 
				C.COUNT COUNT, P.PRICE PRICE, P.SALEPRICE SALEPRICE, P.STOCK STOCK
		FROM CART C, PRODUCT P, CATEGORY CT, DIVISION D
		WHERE C.PRODUCT_NUM = P.PRODUCT_NUM
		AND P.DIVISION_NUM = D.DIVISION_NUM
		AND D.CATEGORY_NUM = CT.CATEGORY_NUM
		AND NOT P.PRODUCT_DEL = 'Y'
		AND NOT P.STOCK = 0
		AND P.STORAGE_NUM = 3
		AND C.MEMBER_NUM = #{memberNum}
	</select>
		
	<select id="getCartList4" parameterType="cartMember" resultType="cart">
		SELECT C.PRODUCT_NUM PRODUCT_NUM, P.STORAGE_NUM STORAGE_NUM, CT.CATEGORY_NUM CATEGORY_NUM, P.THUM_SYS_FILENAME THUM_SYS_FILENAME, P.PRODUCT_NAME PRODUCT_NAME, 
				C.COUNT COUNT, P.PRICE PRICE, P.SALEPRICE SALEPRICE, P.STOCK STOCK
		FROM CART C, PRODUCT P, CATEGORY CT, DIVISION D
		WHERE C.PRODUCT_NUM = P.PRODUCT_NUM
		AND P.DIVISION_NUM = D.DIVISION_NUM
		AND D.CATEGORY_NUM = CT.CATEGORY_NUM
		AND NOT P.PRODUCT_DEL = 'N' OR P.STOCK = 0
		AND C.MEMBER_NUM = #{memberNum}
	</select>	
	
</mapper>